<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hit and Blowプレイ画面</title>
    <script defer src="{{ url_for('static', filename='playRequest.js') }}"></script>
    <!--<script type="text/javascript" src="../static/playRequest.js"></script>-->
</head>
<body>
    <h1 class="title">Hit and Blow
        <button onclick="javascript:window.history.back(-1);return false;">home</button>
        <button>Ranking</button>
        <button id="get_hint">Hint(残り1)</button>
    </h1>
    <div id="judge_result" name="judge_result"></div>
    <div id="name_place">名無しさん、こんにちは</div>
    <label for="nums"><br>ユニークな４桁の数字を入力:</label>
    <form id="inputs">
        <input type="text" id="nums" minlength="4" maxlength="4" placeholder="example:1234">
    </form>
    <button id="vote">judge!</button>
    <div id="error_message" style="color: red;"></div>
    <div id="judge_log">Result Log<br></div>
</body>
</html>