<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hit and Blowプレイ画面</title>
    <script defer src="{{ url_for('static', filename='playRequest.js') }}"></script>
</head>
<body>
    <h1 class="title">Hit and Blow</h1>
    <div id="judge_result" name="judge_result">ここに判定</div>
    <label for="nums"><br>ユニークな４桁の数字を入力:</label>
    <input type="text" id="nums" minlength="4" maxlength="4" placeholder="example:0000">
    <button id="vote">送信</button>
    <br>
    <button id="get_log">ログを表示</button>
</body>
</html>