<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hit&Blow</title>
    <link rel="stylesheet" href="/static/start.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/static/start.js"></script>
</head>
<body>
    <h1>Hit&Blow</h1>
    <form id=addname action="/static/start.js" method="POST">
        <p class="name_input">
          <label for="your_name">名前: </label>
          <input type="text" id="your_name" name="name" required>
        </p>
        <div>
            <p class=title><br>ルール説明<br></p>
            <p>相手があらかじめ指定した4桁の数字を予想します。<br>数字と位置が一致すれば"ヒット（H）"、数字のみ一致すれば"ブロー（B）"として計算され、それぞれの個数だけわかります。<br>相手より先に数字を当てることができたら勝利となります。<br></p>
         </div>
        <button type="submit">ゲームスタート</button>
    </form>
</body>
</html>